.home-container {
    padding: 27px 10px;
    font-size: 48px;
    border: 1px solid red;
}

.home-content-container {
    font-weight: 700;
    margin-bottom: 27px;
    border: 1px solid yellow;
}

.home-content-container h1 {
    color: #000;
    font-size: 0.6em;
    letter-spacing: 0.96px;
    border: 1px solid black;
}

.home-content-container p {
    color: #7E7E7E;
    font-size: 0.3em;
    letter-spacing: 0.48px;
    margin-bottom: 0;
    border: 1px solid gray;
}

@media (min-width: 576px) {
    .home-container {
        padding: 27px 20px;
    }

    .home-content-container h1 {
        font-size: 0.8em;
    }

    .home-content-container p {
        font-size: 0.4em;
    }
}

@media (min-width: 768px) {
    .home-container {
        padding: 27px 30px;
    }

    .home-content-container h1 {
        font-size: 0.9em;
    }
}

@media (min-width: 992px) {
    .home-container {
        padding: 27px 41px;
    }

    .home-content-container h1 {
        font-size: 1em;
    }

    .home-content-container p {
        font-size: 0.5em;
    }
}